<h1>Instructor Profile</h1>


<p><strong>Name:</strong>
  <%=@user.first_name + " " + @user.last_name%>
</p>
<p><strong>Interests:</strong>
  <%=@user.interests%>
</p>
<p><strong>Fitness Background:</strong>
  <%=@user.fitness_background%>
</p>
