<p id="notice"><%= notice %></p>

<div class="container">

     <h1>Workout Listings</h1>

   <div id="new">
    <%if !current_user.nil?%>
      <% if current_user.has_role? :instructor %>
        <%= link_to 'New Workout', new_workout_path %>
      <% end %>
    <% end %>
   </div>

  <br>
  <br>
<div id="calendar"></div>

<div id="fullCalModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
        <h4 id="modalTitle" class="modal-title"></h4>
      </div>
      <div class="container modal-body">
        <div class="row">
          <div class="col-xs-3">
            <p><strong>Class Description:</strong></p><br>
            Instructor: <p id="instructor"></p>
            Date: <p id="date"></p>
            Time: <p id="time"></p>
            Location: <p id="location"></p>
            Duration: <p id="duration"></p>
          </div>
          <div class="col-xs-3">
            <div class="image-responsive">
              <img id="image">
            </div>
          </div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <div class="text-center center-block">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<form class="navbar-form navbar-left" action='/workouts/search' method='get' role="search">
  <div class="form-group">
    <select class="form-control" name="search1">
      <option value="">Select Category</option>        <option value="cardio">Cardio</option>
      <option value="strength Training">Strength Training</option>
      <option value="yoga">Yoga</option>
    </select>
    <select class="form-control" name="search2">
      <option value="">Select Level</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
<br>

<div class="col-md-12 col-sm-12">
  <label> Search Results: </label>
<% @workouts.each do |workout| %>
 <ul>
   <li><%= workout.name %></li>
 </ul>
  <%end%>
</div>
