<p id="notice"><%= notice %></p>

<h1>Workout Listings</h1>


<br>
<div id="calendar"></div>

<%if !current_user.nil?%>
  <% if current_user.has_role? :instructor %>
    <%= link_to 'New Workout', new_workout_path %>
  <% end %>
<% end %>
