<!-- created view to assign role to twitter accounts -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Winner's Circle SD</h1>
    <h2>Please choose your role to continue</h2>

    <a href="/users/guest" type=button class="btn btn-primary">Guest</a>
    <a href="/users/instructor" type=button class="btn btn-danger">Instructor</a>


  </body>
</html>
