<!-- created view to assign role to twitter accounts -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="center top huge">Welcome to Winners Circle SD</div>
  <h3 class="octin center">Please choose your role to continue</h3>
  <br>
  <div class="col-lg-12 center">
    <a href="/users/guest" type=button class="btn btn-default btn-sm">Guest</a>
    <a href="/users/instructor" type=button class="btn btn-default btn-sm">Instructor</a>
  </div>

</body>
</html>
