<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>



  </head>
  <body class="welcome">



    <h1>Welcome to place_holder</h1>
    <h3>Description</h3>
    <p>
    Welcome to place_holder! We offer information about outdoor activities and fitness that are in your area.
    </p>
    <a href="/workouts">Click here for class information</a>


  </body>
</html>
