<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

    <body>
      <div class="row">
        <div class="col-xs-6 text-center">
          <div id="map">Google map will appear here...</div>
          <script type="text/javascript">
          handler = Gmaps.build('Google', { markers: { maxRandomDistance: 20 } });
          handler.buildMap({
            provider: {},
            internal: {id: 'map'}
          },
          function() {
            markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap();
            if(navigator.geolocation)
            navigator.geolocation.getCurrentPosition(displayOnMap);
          }
        );
        function displayOnMap(position){
          var marker = handler.addMarker({
            lat: position.coords.latitude,
            lng: position.coords.longitude

          });
          var image = '<%= asset_path 'person_icon.png' %>';
          marker.serviceObject.icon = image;
          handler.map.centerOn(marker);
        };
        </script>
        </div>
        <div class="col-xs-6 text-center">
          <h1>Welcome to Winner's Circle</h1>
          <p>
            Let's find a workout just for you!
          </p>
          <p>
              <li>Please sign in as Guest to RSVP for events</li>
              <li>Please sign in as Instructor to host an event</li>
          </p>
          <a href="/workouts" button type="button" class="btn btn-success">Calendar of Events</a>
        </div>
      </div>
    </body>
</html>
