/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

// navbar style
#nav-icon > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#nav {
    width:auto;
}

.navbar-right {
      margin-right: 0 !important;
}

.white {
  color: white;
}

// fonts
@font-face {
  font-family: "octin";
  src: font-url("octin.ttf") format("truetype");
}

.octin {
  font-family: "octin" !important;
}

@font-face {
  font-family: "Top";
  src: font-url("Top.ttf") format("truetype");
}

.top {
  font-family: "Top" !important;
}

// sizing for fonts
.small{
  font-size: .8em !important;
}

.normal{
  font-size: 1em !important;
}

.big{
  font-size: 1.2em !important;
}

.bigger{
  font-size: 1.4em !important;
  line-height: 1.3em;
}

.biggest{
  font-size: 1.8em !important;
  line-height: 1.3em;
}

.really_big{
  font-size: 2.3em !important;
  line-height: 1.2em;
}

.huge{
  font-size: 3em !important;
  line-height: 1.3em;
}
.huge_name{
  font-size: 4em !important;
  line-height: 1.3em;
}
