/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require fullcalendar
 *= require_tree .
 *= require_self
 */
// for required fields in forms

 label.required:after {
    content: " *";
    color: red;
}

// background on home page

.home_background {
    background-image: image-url("runner.png");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// background for forms
.form_background {
    background-image: image-url("bridge_runner.jpg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// navbar style
#nav-icon > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#nav {
    width:auto;
}

.navbar-right {
      margin-right: 0 !important;
}

.white {
  color: white !important;
}

.border_white {
  border-color: white;
  border-style: solid;
}

.border_white2 {
  border-color: white;
  border-style: solid;
  border-radius: 25px;
}
// fonts
@font-face {
  font-family: "octin";
  src: font-url("octin.ttf") format("truetype");
}

.octin {
  font-family: "octin" !important;
}

@font-face {
  font-family: "Top";
  src: font-url("Top.ttf") format("truetype");
}

.varsity {
  font-family: "varsity" !important;
}

@font-face {
  font-family: "varsity";
  src: font-url("varsity.ttf") format("truetype");
}

.quick {
  font-family: "Quick" !important;
}

@font-face {
  font-family: "quick";
  src: font-url("Quick.otf") format("truetype");
}

.fc-event:hover {
  background-color: #2A7496;
}

.navbar{
  padding: 10px 0px;
}

.top {
  font-family: "Top" !important;
}

// sizing for fonts
.small{
  font-size: .8em !important;
}

.normal{
  font-size: 1em !important;
}

.big{
  font-size: 1.2em !important;
}

.bigger{
  font-size: 1.4em !important;
  line-height: 1.3em;
}

.biggest{
  font-size: 1.8em !important;
  line-height: 1.3em;
}

.really_big{
  font-size: 2.3em !important;
  line-height: 1.2em;
}

.huge{
  font-size: 3em !important;
  line-height: 1.3em;
}
.huge_name{
  font-size: 4em !important;
  line-height: 1.3em;
}

.huge_title {
  font-size: 6em !important;
  line-height: 1.3em;
}


// spacing
.space-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px;
}

.space-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px;
}

.space-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px;
}

.space-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px;
}

.space-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px;
}

.space-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px;
}

.space-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px;
}

.space-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px;
}

.space-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px;
}

.space-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px;
}

.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px;
}

.space-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px;
}

.space-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px;
}

.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px;
}

.space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}
