.center {
  text-align: center;
}

.center_img {
    display: block;
    margin: auto auto;
}

#Face, #Face2, #Face3, #Face4, #Face5, #Face6 {
    height: 250px;
    width: 250px;
    border-radius: 50%;

}

.footer_color {
  background-color: #D9EDF7;
}

.border_top {
  border-top: black;
}
