// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// instructors profile page

.img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}
