// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.instructor {
  border: 1px hidden;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #dcdfe1;
  padding-top: 10px;
  padding-bottom: 20px;

}
#tableinfo {
  border: 1px hidden;
  text-align: center;
  background-color: #dcdfe1;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

}

table {
    border-radius: 200px;
    width: 100%;

    float: none;
}
.info {
  font-size: 16px;
}

.profilepic {
  height: 300px;
  width: 300px;
}
#wrapper {
  background-image: url("background.jpg");
  border: 1px hidden;
  margin-top: 50px;
  margin-bottom: 100px;
  height: 900px;
  background-size: cover;
  margin-left: 220px;
  margin-right: 220px;
}
// instructors profile page

.img {
  border-radius: 50%;
  width: 500px;
  height: 500px;

}
