// Place all the styles related to the Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
}

.move_right {
  text-align: right;
}

.center {
  text-align: center;
}

.well{
   background: #BABFC4 !important;
}

// .well {
//     background: rgb(221,234,234) !important;
// }
