body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  text-align: center;
}

#error_explanation {
  width: 100%;

  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 25px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #078973;
    color: #fff;
    font-family: sans-serif;
    border-radius: 25px;
  }

  ul li {
    font-size: 14px;
    list-style: circle;;
    background-color: white;
    padding: 4px 0px;
  }
}
