.modal_style{
  padding-left: 5px;
}

.modal-title{
  text-align: center;
  text-transform: capitalize;
}

.modal-body{
  text-transform: capitalize;
}

#calendar {
  text-transform: capitalize;
}
.center_button {
  margin: auto;
  text-align: center;
}


#new {
  float: right;
  overflow: auto;
}

#image{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

#calendar {
  height: auto;
  width: auto;
  overflow: scroll;
}
